In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import requests

from src.data.download_DHS import query_dhs_api, save_DHS_data, load_DHS_data

In [3]:
from src.data.download_DHS import DHS_API_KEY, get_api_key

In [57]:
from src.data.download_DHS import INDICATORS

In [66]:
pd.Series(INDICATORS).value_counts()

RH_ANCN_W_N4P    2
RH_ANCP_W_TOT    2
CN_BFDR_C_MNA    1
ED_LITR_W_LIT    1
AN_NUTS_W_SHT    1
CH_VAC1_C_NON    1
CN_NUTS_C_WH3    1
HA_HIVP_B_HIV    1
HC_ELEC_H_ELC    1
CN_NUTS_C_WHP    1
AN_NUTS_W_OWT    1
HC_CKFL_H_SLD    1
MM_MMRO_W_GFR    1
CH_DIAR_C_DIA    1
WE_DMKH_W_WIF    1
HC_SMKH_H_DLY    1
RH_DELP_C_DHF    1
AN_NUTS_W_TH2    1
AN_ANEM_W_MOD    1
AH_TOBC_W_NON    1
WS_SRCE_H_IMP    1
WS_WTRT_H_APP    1
ED_EDUC_W_MYR    1
CN_NUTS_C_WA3    1
WS_TLET_H_NIM    1
AH_TOBC_M_NON    1
AN_ANEM_W_SEV    1
CN_NUTS_C_WA2    1
RH_ANCP_W_SKP    1
AN_ANEM_W_ANY    1
MA_AAFM_W_M2A    1
CN_NUTS_C_WH2    1
CH_ARIS_C_ARI    1
CM_HRFB_C_A1S    1
CH_SZWT_C_L25    1
WS_SRCE_H_PIP    1
CN_NUTS_C_HA2    1
CH_VACS_C_APP    1
DV_EXSV_W_EVR    1
FG_PPCG_C_NUM    1
CP_CLAB_C_CHL    1
AH_HINS_W_NON    1
CN_ANMC_C_SEV    1
CN_BRFI_C_1HR    1
CN_NUTS_C_HA3    1
ED_EDUC_W_CPR    1
CN_ANMC_C_MOD    1
HC_WIXQ_P_GNI    1
FP_KMTA_W_MOD    1
RH_DELA_C_TOT    1
FE_FRTR_W_GFR    1
FP_NADU_W_NUM    1
HC_FLRM_H_NAT    1
RH_PAHC_W_PR1    1
CH_FEVR_C_FEV    1
DV_EXPV_W_12M    1
FE_AAFB_W_M2A    1
CN_BFDR_C_MNE    1
CN_ANMC_C_ANY    1
dtype: int64

In [6]:
df = query_dhs_api('RH_ANCP_W_TOT')

In [44]:
df.shape

(271, 27)

In [34]:
df.ByVariableId.dtype

dtype('int64')

In [39]:
df.duplicated(['SurveyId', 'ByVariableId']).sum()

0

In [40]:
df.duplicated('SurveyId').sum()

271

In [42]:
df.head()

,ByVariableId,ByVariableLabel,CIHigh,CILow,CharacteristicCategory,CharacteristicId,CharacteristicLabel,CharacteristicOrder,CountryName,DHS_CountryCode,...,IsPreferred,IsTotal,Precision,RegionId,SDRID,SurveyId,SurveyType,SurveyYear,SurveyYearLabel,Value
0,14000,Three years preceding the survey,,,Total,1000,Total,0,Afghanistan,AF,...,0,1,1,,RHANCPWTOT,AF2015DHS,DHS,2015,2015,100.0
1,14001,Five years preceding the survey,,,Total,1000,Total,0,Afghanistan,AF,...,1,1,1,,RHANCPWTOT,AF2015DHS,DHS,2015,2015,100.0
2,14000,Three years preceding the survey,,,Total,1000,Total,0,Albania,AL,...,0,1,1,,RHANCPWTOT,AL2008DHS,DHS,2008,2008-09,100.0
3,14001,Five years preceding the survey,,,Total,1000,Total,0,Albania,AL,...,1,1,1,,RHANCPWTOT,AL2008DHS,DHS,2008,2008-09,100.0
4,14000,Three years preceding the survey,,,Total,1000,Total,0,Albania,AL,...,0,1,1,,RHANCPWTOT,AL2017DHS,DHS,2017,2017-18,100.0

In [29]:
len(df.ByVariableId.unique()) > 1: 
    df = df.query('ByVariableId') == 14001  # Use 5 year recall

2

In [27]:
df.duplicated('SurveyId').sum()

271

In [26]:
df.head()

,ByVariableId,ByVariableLabel,CIHigh,CILow,CharacteristicCategory,CharacteristicId,CharacteristicLabel,CharacteristicOrder,CountryName,DHS_CountryCode,...,IsPreferred,IsTotal,Precision,RegionId,SDRID,SurveyId,SurveyType,SurveyYear,SurveyYearLabel,Value
0,14000,Three years preceding the survey,,,Total,1000,Total,0,Afghanistan,AF,...,0,1,1,,RHANCPWTOT,AF2015DHS,DHS,2015,2015,100.0
1,14001,Five years preceding the survey,,,Total,1000,Total,0,Afghanistan,AF,...,1,1,1,,RHANCPWTOT,AF2015DHS,DHS,2015,2015,100.0
2,14000,Three years preceding the survey,,,Total,1000,Total,0,Albania,AL,...,0,1,1,,RHANCPWTOT,AL2008DHS,DHS,2008,2008-09,100.0
3,14001,Five years preceding the survey,,,Total,1000,Total,0,Albania,AL,...,1,1,1,,RHANCPWTOT,AL2008DHS,DHS,2008,2008-09,100.0
4,14000,Three years preceding the survey,,,Total,1000,Total,0,Albania,AL,...,0,1,1,,RHANCPWTOT,AL2017DHS,DHS,2017,2017-18,100.0

In [67]:
%%time
df = save_DHS_data()

Querying FE_FRTR_W_GFR
Querying FE_AAFB_W_M2A
Querying FP_KMTA_W_MOD
Querying FP_NADU_W_NUM
Querying MA_AAFM_W_M2A
Querying CM_HRFB_C_A1S
Querying MM_MMRO_W_GFR
Querying RH_ANCP_W_TOT
Querying RH_ANCP_W_SKP
Querying RH_ANCN_W_N4P
Querying RH_DELP_C_DHF
Querying RH_DELA_C_TOT
Querying RH_PAHC_W_PR1
Querying CH_SZWT_C_L25
Querying CN_NUTS_C_HA2
Querying CN_NUTS_C_HA3
Querying CN_NUTS_C_WH3
Querying CN_NUTS_C_WH2
Querying CN_NUTS_C_WHP
Querying CN_NUTS_C_WA3
Querying CN_NUTS_C_WA2
Querying CN_BRFI_C_1HR
Querying CN_BFDR_C_MNA
Querying CN_BFDR_C_MNE
Querying CN_ANMC_C_ANY
Querying CN_ANMC_C_MOD
Querying CN_ANMC_C_SEV
Querying HC_SMKH_H_DLY
Querying WS_SRCE_H_IMP
Querying WS_SRCE_H_PIP
Querying WS_WTRT_H_APP
Querying WS_TLET_H_NIM
Querying HC_ELEC_H_ELC
Querying HC_FLRM_H_NAT
Querying HC_CKFL_H_SLD
Querying AN_NUTS_W_SHT
Querying AN_NUTS_W_TH2
Querying AN_NUTS_W_OWT
Querying AN_ANEM_W_ANY
Querying AN_ANEM_W_MOD
Querying AN_ANEM_W_SEV
Querying AH_TOBC_W_NON
Querying AH_TOBC_M_NON
Querying CH_ARIS_C_ARI
Querying CH_FEVR_C_FEV
Querying CH_DIAR_C_DIA
Querying HA_HIVP_B_HIV
Querying CH_VACS_C_APP
WARNING - no data for indicator CH_VACS_C_APP
Querying CH_VAC1_C_NON
Querying AH_HINS_W_NON
Querying WE_DMKH_W_WIF
Querying FG_PPCG_C_NUM
Querying DV_EXPV_W_12M
Querying DV_EXSV_W_EVR
Querying CP_CLAB_C_CHL
Querying ED_EDUC_W_MYR
Querying ED_EDUC_W_CPR
Querying ED_LITR_W_LIT
Querying HC_WIXQ_P_GNI
Wall time: 16.5 s

In [68]:
df.loc[df.duplicated(['SurveyId', 'IndicatorId'], keep=False)].sort_values(['SurveyId', 'IndicatorId'])

Empty DataFrame
Columns: [CountryName, DHS_CountryCode, SurveyYear, SurveyId, Indicator, IndicatorId, Value]
Index: []

In [49]:
df.columns

Index([], dtype='object')

In [22]:
df.head()

,CountryName,DHS_CountryCode,SurveyYear,SurveyId,Indicator,IndicatorId,Value
0,Afghanistan,AF,2015,AF2015DHS,General fertility rate,FE_FRTR_W_GFR,175.0
1,Albania,AL,2008,AL2008DHS,General fertility rate,FE_FRTR_W_GFR,46.0
2,Albania,AL,2017,AL2017DHS,General fertility rate,FE_FRTR_W_GFR,57.0
3,Armenia,AM,2000,AM2000DHS,General fertility rate,FE_FRTR_W_GFR,56.0
4,Armenia,AM,2005,AM2005DHS,General fertility rate,FE_FRTR_W_GFR,58.0

In [23]:
df = load_DHS_data()
df.shape

(18231, 7)

In [5]:
import numpy as np
np.__version__

'1.15.4'

In [30]:
df.head()

,ByVariableId,ByVariableLabel,CIHigh,CILow,CharacteristicCategory,CharacteristicId,CharacteristicLabel,CharacteristicOrder,CountryName,DHS_CountryCode,...,IsPreferred,IsTotal,Precision,RegionId,SDRID,SurveyId,SurveyType,SurveyYear,SurveyYearLabel,Value
0,0,,26,19,Five year periods,13000,0-4,80000,Afghanistan,AF,...,1,1,0,,CMECMTCNNR,AF2015DHS,DHS,2015,2015,22.0
1,0,,17,5,Five year periods,13000,0-4,80000,Albania,AL,...,1,1,0,,CMECMTCNNR,AL2008DHS,DHS,2008,2008-09,11.0
2,0,,27,12,Five year periods,13000,0-4,80000,Armenia,AM,...,1,1,0,,CMECMTCNNR,AM2000DHS,DHS,2000,2000,19.0
3,0,,27,6,Five year periods,13000,0-4,80000,Armenia,AM,...,1,1,0,,CMECMTCNNR,AM2005DHS,DHS,2005,2005,17.0
4,0,,13,2,Five year periods,13000,0-4,80000,Armenia,AM,...,1,1,0,,CMECMTCNNR,AM2010DHS,DHS,2010,2010,8.0

In [11]:
df.IndicatorId.unique()

array(['CM_ECMT_C_NNR', 'CM_ECMT_C_PNR', 'CM_ECMT_C_IMR', 'CM_ECMT_C_CMR',
       'CM_ECMT_C_U5M', 'CM_PNMR_C_NSB'], dtype=object)

In [16]:
df.drop_duplicates('IndicatorId')[['IndicatorId', 'Indicator']]

     IndicatorId                                   Indicator
0  CM_ECMT_C_NNR    Neonatal mortality rate (5 year periods)
0  CM_ECMT_C_PNR     Postneonatal mortality (5 year periods)
0  CM_ECMT_C_IMR      Infant mortality rate (5 year periods)
0  CM_ECMT_C_CMR            Child mortality (5 year periods)
0  CM_ECMT_C_U5M  Under-five mortality rate (5 year periods)
0  CM_PNMR_C_NSB                                 Stillbirths

In [17]:
df.groupby('Indicator')['Indicator'].count()

Indicator
Child mortality (5 year periods)              281
Infant mortality rate (5 year periods)        281
Neonatal mortality rate (5 year periods)      281
Postneonatal mortality (5 year periods)       281
Stillbirths                                   173
Under-five mortality rate (5 year periods)    281
Name: Indicator, dtype: int64

In [10]:
df.CountryName.value_counts()

Senegal                      62
Peru                         59
Egypt                        47
Bangladesh                   42
Colombia                     41
Indonesia                    41
Uganda                       39
Dominican Republic           39
Tanzania                     38
Jordan                       36
Philippines                  35
Zimbabwe                     35
Kenya                        34
Ghana                        34
Rwanda                       34
Nepal                        30
Malawi                       29
Bolivia                      28
Mali                         28
Zambia                       27
Nigeria                      27
Haiti                        25
Armenia                      24
Guatemala                    23
Ethiopia                     23
Namibia                      22
Cambodia                     22
Burkina Faso                 22
Madagascar                   22
India                        22
                             ..
Brazil                       11
Eritrea                      10
Gabon                        10
Congo                        10
Congo Democratic Republic    10
Paraguay                      6
Maldives                      6
Albania                       6
Uzbekistan                    6
Turkmenistan                  6
Gambia                        6
South Africa                  6
Afghanistan                   6
Myanmar                       6
Azerbaijan                    6
Ukraine                       6
Moldova                       6
Swaziland                     6
El Salvador                   5
Botswana                      5
Mexico                        5
Trinidad and Tobago           5
Ecuador                       5
Sudan                         5
Thailand                      5
Sri Lanka                     5
Mauritania                    5
Central African Republic      5
Tunisia                       5
Sao Tome and Principe         5
Name: CountryName, Length: 86, dtype: int64

In [12]:
#Load country codebook
r = requests.get('https://api.dhsprogram.com/rest/dhs/countries')
countries = pd.DataFrame(r.json()['Data'])[['DHS_CountryCode','CountryName']]
country_dict = countries.set_index('CountryName').to_dict()
country_dict = country_dict['DHS_CountryCode']

In [40]:
# Load indicator codebook
r = requests.get('https://api.dhsprogram.com/rest/dhs/indicators?apiKey=UNIWAS-226152&perpage=5000')
indicators = pd.DataFrame(r.json()['Data'])
print(indicators.shape)
indicators.head()

(3046, 22)

,Definition,Denominator,DenominatorUnweightedId,DenominatorWeightedId,IndicatorId,IndicatorOldId,IndicatorOrder,IndicatorSpecial1Id,IndicatorSpecial2Id,IndicatorTotalId,...,Label,Level1,Level2,Level3,MeasurementType,NumberScale,QuickStatOrder,SDRID,ShortName,TagIds
0,Age-specific fertility rate for the three year...,Per thousand women years exposed in the period...,,,FE_FRTR_W_A10,,11763005,,,,...,Age specific fertility rate: 10-14,Fertility,Fertility rates,Women,Rate,0,,FEFRTRWA10,ASFR 10-14,
1,Age-specific fertility rate for the three year...,Per thousand women years exposed in the period...,,,FE_FRTR_W_A15,19165001,11763010,,,,...,Age specific fertility rate: 15-19,Fertility,Fertility rates,Women,Rate,0,,FEFRTRWA15,ASFR 15-19,"74, 1, 7, 81, 80"
2,Age-specific fertility rate for the three year...,Per thousand women years exposed in the period...,,,FE_FRTR_W_A20,19165002,11763020,,,,...,Age specific fertility rate: 20-24,Fertility,Fertility rates,Women,Rate,0,,FEFRTRWA20,ASFR 20-24,74
3,Age-specific fertility rate for the three year...,Per thousand women years exposed in the period...,,,FE_FRTR_W_A25,19165003,11763030,,,,...,Age specific fertility rate: 25-29,Fertility,Fertility rates,Women,Rate,0,,FEFRTRWA25,ASFR 25-29,74
4,Age-specific fertility rate for the three year...,Per thousand women years exposed in the period...,,,FE_FRTR_W_A30,19165004,11763040,,,,...,Age specific fertility rate: 30-34,Fertility,Fertility rates,Women,Rate,0,,FEFRTRWA30,ASFR 30-34,74

In [41]:
indicators.ShortName

0                                              ASFR 10-14
1                                              ASFR 15-19
2                                              ASFR 20-24
3                                              ASFR 25-29
4                                              ASFR 30-34
5                                              ASFR 35-39
6                                              ASFR 40-44
7                                              ASFR 45-49
8                                               TFR 15-49
9                                               TFR 15-44
10                                 General fertility rate
11                                       Crude birth rate
12                     Women age 15-49 currently pregnant
13                              Number of women age 15-49
14                 Number of women age 15-49 (unweighted)
15      Mean number of children ever born to women age...
16                              Number of women age 40-49
17                 Number of women age 40-49 (unweighted)
18                                             ASFR 10-14
19                                             ASFR 15-19
20                                             ASFR 20-24
21                                             ASFR 25-29
22                                             ASFR 30-34
23                                             ASFR 35-39
24                                             ASFR 40-44
25                                             ASFR 45-49
26                                                      0
27                                                      1
28                                                      2
29                                                      3
                              ...
3016                            Overall men response rate
3017                         Households interviewed [Men]
3018    Households present but no competent respondent...
3019                           Households postponed [Men]
3020                             Households refused [Men]
3021                             Dwelling not found [Men]
3022                              Households absent [Men]
3023         Dwelling vacant/address not a dwelling [Men]
3024                             Dwelling destroyed [Men]
3025                         Household other result [Men]
3026                                          Total [Men]
3027                 Households selected for men's survey
3028                 Households occupied for men's survey
3029    Number of households interviewed for men's survey
3030             Household response rate for men's survey
3031                      Median date of interview (year)
3032       Median duration of interview (minutes) [Women]
3033         Mean duration of interview (minutes) [Women]
3034    Number of women interviewed in one visit with ...
3035    Number of women interviewed in one visit with ...
3036         Median duration of interview (minutes) [Men]
3037           Mean duration of interview (minutes) [Men]
3038    Number of men interviewed in one visit with co...
3039    Number of men interviewed in one visit with co...
3040                                     Weighted percent
3041                                      Weighted number
3042                                    Unweighted number
3043                                     Weighted percent
3044                                      Weighted number
3045                                    Unweighted number
Name: ShortName, Length: 3046, dtype: object

In [3]:
df = query_dhs_api('FE_FRTR_W_TFR')

In [47]:
# The following URL will return all the national data available for the survey year 2010
data_url = 'https://api.dhsprogram.com/rest/dhs/data/2010?apiKey=UNIWAS-226152'
data_url = 'https://api.dhsprogram.com/rest/dhs/data/FE_FRTR_W_TFR?apiKey=UNIWAS-226152&perpage=500'
r = requests.get(data_url)

In [48]:
r.json().keys()

dict_keys(['TotalPages', 'Data', 'RecordsReturned', 'Page', 'RecordCount'])

In [35]:
df = pd.DataFrame(r.json()['Data'])
df.shape

(306, 27)

In [36]:
df.head()

,ByVariableId,ByVariableLabel,CIHigh,CILow,CharacteristicCategory,CharacteristicId,CharacteristicLabel,CharacteristicOrder,CountryName,DHS_CountryCode,...,IsPreferred,IsTotal,Precision,RegionId,SDRID,SurveyId,SurveyType,SurveyYear,SurveyYearLabel,Value
0,0,,,,Total,1000,Total,0,Afghanistan,AF,...,1,1,1,,FEFRTRWTFR,AF2015DHS,DHS,2015,2015,5.3
1,0,,,,Total,1000,Total,0,Albania,AL,...,1,1,1,,FEFRTRWTFR,AL2008DHS,DHS,2008,2008-09,1.6
2,0,,,,Total,1000,Total,0,Albania,AL,...,1,1,1,,FEFRTRWTFR,AL2017DHS,DHS,2017,2017-18,1.8
3,0,,,,Total,1000,Total,0,Armenia,AM,...,1,1,1,,FEFRTRWTFR,AM2000DHS,DHS,2000,2000,1.7
4,0,,,,Total,1000,Total,0,Armenia,AM,...,1,1,1,,FEFRTRWTFR,AM2005DHS,DHS,2005,2005,1.7

In [38]:
df.SurveyId[-1:]

305    ZW2015DHS
Name: SurveyId, dtype: object

In [25]:
len(df.SurveyId.unique())

100

In [8]:
df.columns

Index(['ByVariableId', 'ByVariableLabel', 'CIHigh', 'CILow',
       'CharacteristicCategory', 'CharacteristicId', 'CharacteristicLabel',
       'CharacteristicOrder', 'CountryName', 'DHS_CountryCode', 'DataId',
       'DenominatorUnweighted', 'DenominatorWeighted', 'Indicator',
       'IndicatorId', 'IndicatorOrder', 'IndicatorType', 'IsPreferred',
       'IsTotal', 'Precision', 'RegionId', 'SDRID', 'SurveyId', 'SurveyType',
       'SurveyYear', 'SurveyYearLabel', 'Value'],
      dtype='object')

In [11]:
df.Indicator.unique()

array(['Age specific fertility rate: 15-19',
       'Age specific fertility rate: 20-24',
       'Age specific fertility rate: 25-29',
       'Age specific fertility rate: 30-34',
       'Age specific fertility rate: 35-39',
       'Age specific fertility rate: 40-44', 'Total fertility rate 15-49',
       'Total fertility rate 15-44', 'General fertility rate',
       'Crude birth rate', 'Percentage of women currently pregnant',
       'Number of women age 15-49',
       'Number of women age 15-49 (unweighted)',
       'Completed fertility of women age 40-49',
       'Number of women age 40-49',
       'Number of women age 40-49 (unweighted)',
       'Age specific fertility rate: 10-14 (five year periods)',
       'Age specific fertility rate: 15-19 (five year periods)',
       'Age specific fertility rate: 20-24 (five year periods)',
       'Age specific fertility rate: 25-29 (five year periods)',
       'Age specific fertility rate: 30-34 (five year periods)',
       'Age specific fertility rate: 35-39 (five year periods)',
       'Age specific fertility rate: 40-44 (five year periods)',
       'Women with no children ever born', 'Women with 1 child ever born',
       'Women with 2 children ever born',
       'Women with 3 children ever born',
       'Women with 4 children ever born',
       'Women with 5 children ever born',
       'Women with 6 children ever born',
       'Women with 7 children ever born',
       'Women with 8 children ever born',
       'Women with 9 children ever born',
       'Women with 10+ children ever born', 'Women: Total',
       'Number of women', 'Number of women (unweighted)',
       'Mean number of children ever born',
       'Mean number of living children',
       'Married women with no children ever born',
       'Married women with 1 child ever born',
       'Married women with 2 children ever born',
       'Married women with 3 children ever born',
       'Married women with 4 children ever born',
       'Married women with 5 children ever born',
       'Married women with 6 children ever born',
       'Married women with 7 children ever born',
       'Married women with 8 children ever born',
       'Married women with 9 children ever born',
       'Married women with 10+ children ever born',
       'Married women: Total', 'Number of married women',
       'Number of married women (unweighted)',
       'Mean number of children ever born to married women',
       'Mean number of living children to married women',
       'Previous birth interval: 7-17 months',
       'Previous birth interval: 18-23 months',
       'Previous birth interval: 24-35 months',
       'Previous birth interval: 36-47 months',
       'Previous birth interval: 48-59 months',
       'Previous birth interval: 60+ months',
       'Previous birth interval: Total', 'Number of non-first births',
       'Number of non-first births (unweighted)',
       'Median birth interval (months)', 'Births of birth order 1',
       'Births of birth order 2', 'Births of birth order 3',
       'Births of birth order 4', 'Births of birth order 5+',
       'Births in the 2 years preceding the survey: Total',
       'Number of births in the 2 years preceding the survey',
       'Number of births in the 2 years preceding the survey (Unweighted)',
       'Postpartum amenorrheic', 'Postpartum abstaining',
       'Postpartum insusceptible', 'Number of births',
       'Number of births (unweighted)',
       'Mean duration postpartum amenorrheic',
       'Mean duration postpartum abstaining',
       'Mean duration postpartum insusceptible',
       'Median duration postpartum amenorrheic',
       'Median duration postpartum abstaining',
       'Median duration postpartum insusceptible',
       'Women age 30-49 menopausal', 'Number of women age 30-49',
       'Number of women age 30-49 (unweighted)',
       'Women giving birth by age 15', 'Women giving birth by age 18',
       'Women giving birth by age 20', 'Women giving birth by age 22',
       'Women giving birth by age 25', 'Women who never gave birth',
       'Median age at first birth for women age 25-29',
       'Median age at first birth for women age 30-34',
       'Median age at first birth for women age 35-39',
       'Median age at first birth for women age 40-44',
       'Median age at first birth for women age 45-49'], dtype=object)